<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Diffucult.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{397,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,98}}</string>
				<key>sourceSize</key>
				<string>{397,98}</string>
			</dict>

			<key>Easy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,209},{268,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,114}}</string>
				<key>sourceSize</key>
				<string>{268,114}</string>
			</dict>

			<key>Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,99},{384,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,109}}</string>
				<key>sourceSize</key>
				<string>{384,109}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>levelMap.png</string>
			</dict>
		</dict>
</plist>